// base path for fonts
font-path = '/public/fonts/'

// font-face declaration mixin
font-face-mixin(font-family, src, weight, style)
  @font-face
    font-family font-family
    src url(src) format('truetype')
    font-weight weight
    font-style style

font-face-mixin('Montserrat', font-path + 'Montserrat-Regular.ttf', 400, 'normal')
font-face-mixin('Montserrat', font-path + 'Montserrat-Bold.ttf', 700, 'normal')
