// Global Styles (html, body, app-container)
html, body, #app, .app-container
  height 100%
  background-color colorPalette.contentBG
  overflow hidden
  color colorPalette.font
  font-family Montserrat

label, input
  cursor pointer

.app-container
  display flex
  flex-direction column
  height 100%


// Margin Utility Classes
.margin-left
  margin-left buttonMargin
.margin-right
  margin-right buttonMargin


// Button Styles
button
  background-color colorPalette.buttonBG
  font-family 'Arial', sans-serif
  color colorPalette.font
  font-size 16px
  font-weight 600
  padding 12px 20px
  border none
  border-radius 6px
  cursor pointer
  transition all 0.3s ease
  outline-color colorPalette.buttonOutline
  outline-width 0
  outline-style solid

  &:hover
    background-color colorPalette.buttonHover
    outline-width 3px

  &:active
    box-shadow 0 3px 5px rgba(0, 0, 0, 0.1)
    filter brightness(1.2)

  &:disabled
    cursor not-allowed
    box-shadow none
    outline-width 0
    filter contrast(.2)


// Text Output & Form Elements
.text-output
  color colorPalette.font
  font-family 'Arial', sans-serif
  font-size 12px
  font-weight 400
  padding 8px 12px
  border 1px solid colorPalette.formOutline
  border-radius 10px
  height 10px
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
  max-width 300px
  box-shadow 0 2px 4px rgba(0, 0, 0, 0.1)

  &.path
    direction rtl
    margin-left 20px

.form-check-label
  transition: filter 0.3s ease
  &:hover
    filter brightness(120%) drop-shadow(0 0 5px colorPalette.font)


// Error Styles
.error
  border 2px solid colorPalette.error
  background-color colorPalette.errorBG



// Content Styles
.content
  height 100%
  background-color colorPalette.contentBG
  position relative

  > div
    padding 20px

  .result
  .confirmation
    position absolute
    border-radius 10px
    top 20px
    left 20px
    background-color rgba(0, 0, 0, 0.5)
    color colorPalette.font
    padding 5px 30px

  .processOutput
    padding 0
    width 100%
    height 100%

  .processError
    box-shadow 0px 0px 25px 25px rgba(255, 0, 0, 0.2) inset, 0px 0px 5px 5px rgba(255, 0, 0, 0.5) inset
    height 100%

    div
      position relative
      top 10px
      left 10px
      width fit-content


// Info Question Mark Styles & Animation
@keyframes pulse
  0%, 100%
    transform scale(1)
    opacity 1
  50%
    transform scale(1.1)
    opacity 0.8

.info-mark.pulsing
  animation pulse 2s infinite

.brightness-value
  margin-left 5px
  font-size 0.9rem
  color gray


// Popper and Tooltip Styles
.v-popper--has-tooltip
  display inline-block
  width 20px
  height 20px
  line-height 20px
  text-align center
  font-size 14px
  font-weight bold
  color colorPalette.font
  background-color colorPalette.buttonBG
  border-radius 50%
  cursor pointer
  margin-left 8px
  transition all 0.3s ease
  box-shadow 0 2px 4px rgba(0, 0, 0, 0.2)


// Ellipsis Styles & Animation
.dots
  width 10px
  display inline-block

.dots::after
  content "."
  animation dots 1s steps(4, end) infinite

.dots
  width 10px
  display inline-block

.dots::after
  content "."
  animation dots 1s steps(4, end) infinite

@keyframes dots
  0%
    content: ""
  25%
    content: "."
  50%
    content: ".."
  75%
    content: "..."
  100%
    content: ""
