// Color Variables
defaultColor = #3C3D37
colorFont = lighten(defaultColor, 80%)

colorPalette = {
    font: colorFont

    actionBarBG: darken(defaultColor, 50%)
    contentBG: defaultColor
    formOutline: colorFont

    buttonBG: defaultColor
    buttonOutline: lighten(defaultColor, 70%)
    buttonHover: lighten(defaultColor, 10%)

    error: #FF0000
    errorBG: colorFont
}


// Spacing Variables
buttonGap = 5px
buttonMargin = 20px
